* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/* Float */
.clearfix {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  margin: auto;
  width: 70%;
}

/* Typo */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Button */
.btn {
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 7px;
  background-color: #FE775A;
  color: #fff;
  font-size: 12px;
}

.big {
  padding: 15px;
}

#login {
  background-color: #fff;
  color: #FE775A;
}

/* Header */
.menu-nav li {
  display: inline-block;
  padding: 0 10px;
}

.menu {
  padding: 20px 0;
  font-size: 12px;
}

/* Primo menù di navigazione */
.nav-1 {
  height: 60px;
  border-bottom: 1px solid #000;
  background-color: #F4F9FD;
}

#first-li {
  padding-left: 0;
}

#search-lens {
  color: #00A4BD;
}

/* Secondo menù di navigazione */
.nav-2 {
  height: 70px;
}

.nav-2 nav ul {
  vertical-align: middle;
  line-height: 35px;
}

.chevron-down {
  margin: 0 4px 0 10px;
}

/* Hero */
.hero {
  height: 695px;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-size: cover;
}

.hero-text {
  width: 35%;
  position: absolute;
  top: 10%;
}

.hero-text * {
  margin: 25px 0;
}

.hero-text h2 {
  font-size: 40px;
}

.hero-text p, .cube p {
  font-size: 12px;
  line-height: 24px;
}

.hero-text small {
  font-size: 11px;
}

.green-bar {
  position: relative;
  top: 93%;
  height: 7%;
  background-color: #AFEBE4;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* Main */
main {
  background-color: #f5f8fa;
}
/* Prima sezione "cubo" */
.cube {
  width: 80%;
  margin: auto;
  text-align: center;
}

.cube img {
  margin-top: 30px;
  height: 130px;
}

.cube h2, .cube p {
  margin-bottom: 20px;
}
