* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color: #f5f8fa;
}


/* Float */
.clearfix {
  content: "";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  margin: auto;
  width: 70%;
}

/* Typo */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

/* Button */
.btn {
  border: 1px solid #FE775A;
  border-radius: 5px;
  padding: 7px;
  background-color: #FE775A;
  color: #fff;
  font-size: 12px;
}

.big {
  padding: 15px;
}

#login {
  background-color: #fff;
  color: #FE775A;
}

/* Header */
.menu-nav li {
  display: inline-block;
  padding: 0 10px;
}

.menu {
  padding: 20px 0;
  font-size: 12px;
}

/* Primo menù di navigazione */
.nav-1 {
  height: 60px;
  border-bottom: 1px solid #000;
}

#first-li {
  padding-left: 0;
}

#search-lens {
  color: #00A4BD;
}

/* Secondo menù di navigazione */
.nav-2 {
  height: 70px;
  background-color: #fff;
}

.nav-2 nav ul {
  vertical-align: middle;
  line-height: 35px;
}

.chevron-down {
  margin: 0 4px 0 10px;
}

/* Hero */
.hero {
  height: 695px;
  position: relative;
  background-image: url("../img/jumbotron.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #FFF4EF;
}

.hero-text {
  width: 35%;
  position: absolute;
  top: 10%;
}

.hero-text *, .cta-text * {
  margin: 35px 0;
}

.hero-text small, .cta-text small {
  display: block;
}

.hero-text h2 {
  font-size: 40px;
}

.hero-text p, .cube p, .book.right p, .col p, .gradient p, .logos.left p, .cta-text p {
  font-size: 13px;
  line-height: 24px;
}

.hero-text small, .row div small, .cta-text small {
  font-size: 11px;
}

.hero-text small, .cta-text small {
  margin-top: 50px;
}

.green-bar {
  position: relative;
  top: 88%;
  height: 12%;
  background-color: #AFEBE4;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

/* Main */
main {
  background-color: #f5f8fa;
}
/* Prima sezione "cubo" */
.cube {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.cube img {
  margin-top: 30px;
  height: 130px;
}

.cube h2, .cube p {
  margin-bottom: 20px;
}

/* Seconda sezione "Registro" */
.rounded {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px 1px #ccc;
}

.register {
  height: 250px;
  padding: 40px;
  margin-bottom: 40px;
}

.book.left, .in-box.left {
  width: 30%;
}

.book.right, .in-box.right {
  width: 70%;
}

.book.left img {
  width: 50%;
}

.book.left {
  text-align: center;
}

.book.right li {
  display: inline-block;
}

.book * {
  margin-bottom: 20px;
}

.book.right p {
  width: 80%;
}

.book.right hr {
  margin-top: 10px;
  width: 90%
}

.book.right li, .col li {
  font-size: 13px;
}

.in-box {
  height: 25px;
}
.check {
  color: #FE775A;
  margin-right: 10px;
}

.check.move {
  margin-left: 10px;
}

/* Terza sezione "colonne */
.three-cols {
  height: 540px;
}

.col {
  float: left;
  height: 500px;
  width: 30%;
  text-align: center;
  padding: 33px;
  margin-bottom: 40px;
}

.col h3, .col h4, .col p, .col hr, .col ul {
  margin-bottom: 20px;
}

.col ul li {
  text-align: left;
}

.col img {
  height: 100px;
}

.col:nth-child(2) {
  margin: 0 5%;
}

/* Sezione con gradiente di colori */
.gradient {
  height: 560px;
  background: rgb(0,164,189);
  background: linear-gradient(45deg, rgba(0,164,189,1) 0%, rgba(0,189,165,1) 100%);
  text-align: center;
  color: #fff;
}

.gradient h2 {
  padding-top: 30px;
  font-size: 26px;
}

.gradient h2, .gradient p {
  margin-bottom: 20px;
}

.row div {
  float: left;
  width: 24%;
  padding: 15px;
}

.row div h4 {
  font-size: 35px
}

.row div *:not(plus) {
  margin: 8px;
}

.plus {
  font-size: 25px;
  font-weight: 500;
}

.row.first div {
  border-bottom: 1px solid #fff;
}

.row div {
  border-right: 1px solid #fff;
}

.row div:nth-child(4)  {
  border-right: 1px solid transparent;
}

/* Ultima sezione main */
.partnership {
  height: 210px;
  width: 60%;
  margin: auto;
  padding-top: 40px;
}
.raw-logos img {
  width: 125px;
  vertical-align: middle;
  padding: 5px;
}

.logos.left {
  width: 20%;
}

.logos.left h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.logos.right {
  width: 60%;
  padding-top: 10px;
}

.cta-text {
  width: 43%;
}

.cta-text h2 {
  font-size: 26px;
}

.cta-img img {
  height: 330px;
}
